/*
  ========================================
  Global
  ========================================
*/

* {
  margin: 0;
  padding: 0;
}

html {
  background: black;
  font-family: Lato, sans-serif;
  color: #41444F;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

fieldset {
  border: 0;
}

.bold {
  font-weight: bold;
}

/*
  ========================================
  Screen Reader Class
  ========================================
*/

.sr-only {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  top: auto;
  overflow: hidden;
}

/*
  ========================================
  Main
  ========================================
*/

main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(90deg, blue, rgb(120, 162, 197), rgb(238, 123, 35), red);
}

/*
  ========================================
  Background Pokemon
  ========================================
*/

#blastoise {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
  margin: auto;
}

#charizard {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

/*
  ========================================
  Survey Form
  ========================================
*/

#survey-form {
  grid-area: form;
  display: flex;
  flex-direction: column;
  border: 1px #41444F solid;
  border-radius: 0.5rem;
  padding: 1rem 4rem 4rem 4rem;
  margin: 3rem;
  background: white;
  width: 90vw;
  box-shadow: 7px 7px 8px -5px rgba(0, 0, 0, 0.27);
}

header {
  text-align: center;
  padding-bottom: 1rem;
}

legend {
  padding-bottom: 1rem;
}

abbr {
  color: red;
}

.margin-gap {
  margin: .6rem 0 .6rem 0;
}

#pokemon-caught {
  display: flex;
  flex-direction: column;
}

#name, #email, #number {
  width: 35%;
  min-width: 10rem;
}

.radio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  justify-content: center;
}

.radio-container input {
  display: block;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.radio-container img {
  width: 40%;
  min-width: 4rem;
  margin: auto;
}

.checkbox-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  justify-content: center;
}

textarea {
  width: 100%;
}

#submit {
  min-width: 3.5rem;
  width: 20%;
  padding: .5rem;
  margin: auto;
  font-family: inherit;
  font-weight: bold;
  border-radius: .5rem;
}

#submit:hover {
  background: rgb(250, 214, 30);
  color: rgb(249, 43, 24);
  border: black 1px solid;
}

#pikachu {
  width: 30%;
  min-width: 5rem;
  margin: auto;
  padding-top: 2rem;
  padding-left: 2.5rem;
}

input:focus {
  box-shadow: 0 0 5px 1px blue;
}

input:invalid {
  box-shadow: 0 0 5px 1px red;
}

input:focus:invalid {
  outline: none;
}

/*
  ========================================
  Media Queries
  ========================================
*/

@media (max-width: 1100px) {
  #survey-form {
    width: 50vw;
  }

  #blastoise, #charizard {
    display: none
  }
}

@media (max-width: 755px) {
  #survey-form {
    width: 70vw;
  }
}

@media (max-width: 450px) {
  .radio-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .checkbox-container {
    display: flex;
    flex-direction: column;
  }

  .radio-container {
    display: flex;
    flex-direction: column;
  }
}
